[alias]
lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold dim green)(%ar)%C(reset) %C(cyan)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold magenta)%d%C(reset)' --all --tags
lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
lg = !"git lg1"
tf = ls-tree --full-tree -r --name-only HEAD # tracked files

 

[user]
	name = philipjhj
	email = philipjhj@gmail.com
[core]
	editor = vim
	fileMode = false
	filemode = false
	excludesfile = ~/.global_gitignore
[merge]
	tool = vimdiff
[push]
	default = simple
[credential]
	helper = cache
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[github]
	user = philipjhj
[ghi]
	token = 703904bcd55713b0ecd9ceccbeb2a0bf0b73a55a
	token = 8cdf4fb501d3d6e436fadbca2382c3920ecf4827
	token = 155457bae3ec74121b2ce9ec041d7b5904563c33
